<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Города</title>
</head>
<body>
<h1>{{ object_list|length }} рандомных городов из {{ paginator.count }}</h1>
{% for obj in object_list %}
    <p>{{ obj.name }}</p>
{% endfor %}
</body>
</html>
